.header_section {
    padding: 15px 0;
    background-color: brown;
}
* {
    font-family: 'Montserrat', sans-serif;
}

#main-container .custom_nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#main-container .custom_nav-container.flex-column {
    flex-direction: column;
}

#main-container .navbar-brand {
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    margin-right: 20px;
    height: 7.5vh;
}

#main-container .navbar-nav {
    display: flex;
    flex-direction: row;


}

#main-container .custom_nav-container.flex-column .navbar-nav {
    flex-direction: column;
    align-items: flex-start;

}

#main-container .nav-link {
    padding: 5px 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-right: 10px;
}

#main-container .custom_nav-container.flex-column .nav-link {
    margin-right: 0;
    margin-bottom: 10px;
}
.navbar-nav  {
    color: white;
}

.navbar-nav a:hover {
    color: black;
}
span img {
    margin-top: -34px;
}


input {
    width: 280px;
    height: 35px;
    background: rgb(176,41,41);
    background: linear-gradient(90deg, rgba(176,41,41,1) 0%, rgba(74,5,5,1) 100%);
    border: 1px solid white;
    color: white;
    font-weight: bolder;


}


.search-container {
    display: flex;
    align-items: center;
    float: right;
}

.search-input {
    padding: 8px;
    width: 100%; /* Puni širina */
    max-width: 300px; /* Maksimalna širina */
    border-radius: 20px;
}

.search-button {
    background-color: brown;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin-left: 8px;
    cursor: pointer;
}

.search-button:focus {
    outline: none;
}

